<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Travel Planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
		<div class="content">
			<div>
				<h1>Travel Planner</h1>
			</div>
			<div id = "app">
				<div class ="input">
					<label for="destination" >City you want to travel to:</label>
					<input required type="text" id="destination" placeholder="ex) New York">
					<label for="departureDate" >Departure Date:</label>
					<input required type="date" id="departureDate">
                    <button id="generate" type = "submit"> Add to planner </button>
				</div>
				<div id="planner">
					<div id="error"></div>
				</div>
			</div>
		</div>
		<footer class="footer">
		</footer>
		<script>
			 // Service workers
			 if ("serviceWorker" in navigator) {
				  window.addEventListener("load", () => {
						navigator.serviceWorker.register("/service-worker.js");
				  });
			     }
		</script>
	</body>
</html>